:root { 
--black_900_7e:#0000007e; 
--gray_50_01:#fff9f9; 
--gray_50_02:#f7f9fb; 
--blue_A200:#4091ff; 
--black_900_3f:#0000003f; 
--green_700:#219653; 
--black_900_87:#00000087; 
--white_A700_99:#ffffff99; 
--black_900_01:#101011; 
--black_900_00:#00000000; 
--deep_orange_900:#a3542e; 
--light_green_800:#557546; 
--gray_200_01:#efeeeb; 
--deep_orange_300:#df9167; 
--blue_gray_700:#535151; 
--gray_200_02:#e7e7e7; 
--blue_gray_900_01:#253154; 
--white_A700_19:#ffffff19; 
--blue_gray_900:#292d32; 
--red_A700:#e31212; 
--black_900_02:#0d0d0d; 
--black_900_49:#00000049; 
--gray_200_03:#eaeaea; 
--gray_600:#6d6c6c; 
--teal_A700:#16c098; 
--gray_400:#bcbec0; 
--blue_gray_100:#d9d9d9; 
--white_A700_0c:#ffffff0c; 
--green_A700_99:#0dd02c99; 
--red_A200:#ff4747; 
--gray_200:#f0ecec; 
--gray_800_99:#3c3c4399; 
--gray_100_03:#f7f5f0; 
--gray_100_02:#f8f3f3; 
--white_A700_66:#ffffff66; 
--gray_400_01:#bcbcbc; 
--gray_400_02:#c4c4c4; 
--gray_100_01:#f7f3f3; 
--red_A700_01:#ff0000; 
--black_900_19:#00000019; 
--gray_700_02:#666666; 
--white_A700:#ffffff; 
--cyan_400:#34c2c1; 
--gray_700_01:#5f5f5f; 
--blue_gray_200_3f:#aeaec03f; 
--blue_gray_50:#eff2f6; 
--light_blue_A200:#31cdff; 
--red_500:#f14336; 
--green_600:#28b446; 
--gray_50:#fffafa; 
--blue_gray_200_01:#aeaec0; 
--white_A700_33:#ffffff33; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_A200_01:#518ef8; 
--deep_orange_600:#ee601d; 
--gray_500_01:#9b9a9a; 
--gray_500_03:#a69487; 
--gray_500_02:#a7a1a1; 
--gray_500_05:#909090; 
--gray_500_04:#979797; 
--deep_orange_A400:#fd2204; 
--gray_900_02:#1c1c1c; 
--gray_700:#5f5750; 
--gray_900_03:#252525; 
--gray_500_6c:#a18e806c; 
--gray_600_02:#795d8d; 
--blue_gray_200:#a8aabd; 
--gray_500:#a18e80; 
--gray_600_01:#6a707c; 
--blue_gray_400:#8c8686; 
--deep_orange_600_01:#e85f29; 
--gray_900_87:#11111187; 
--indigo_50:#e8ecf4; 
--amber_600:#fbbb00; 
--blue_gray_600:#507e7c; 
--gray_900:#1e232c; 
--gray_900_01:#310f0f; 
--gray_300:#e0e0e0; 
--orange_300:#e9ba50; 
--gray_300_01:#e5e5e5; 
--gray_100:#f6f4f4; 
--white_A700_87:#ffffff87; 
--white_A700_00:#ffffff00; 
--black_900_75:#00000075; 
--black_900_33:#00000033; 
--black_900_cc:#000000cc; 
--white_A700_01:#fffcfc; 
}